// --------------------------------------------------------------------------------
// COMPONENTS - BACK
// --------------------------------------------------------------------------------
.m-back {
    align-items: center;
    color: $color-text;
    display: flex;
    padding: 0 $spacing-80 $spacing-40 $spacing-80;
    text-decoration: none;

    svg {
        height: $spacing-16;
        margin-right: $spacing-8;
        width: $spacing-16;
    }

    @media($bp-tablet) {
        padding: 0 $spacing-28 $spacing-40 $spacing-28;
    }
}

.m-back:hover {
    color: $color-tertiary;

    svg {
        fill: $color-tertiary;
    }
}