// --------------------------------------------------------------------------------
// COMPONENTS - BACK
// --------------------------------------------------------------------------------
.m-back {
    align-items: center;
    color: $color-black;
    display: flex;
    padding: 0 $spacing-xxl $spacing-l $spacing-xxl;
    text-decoration: none;

    svg {
        height: $spacing-ms;
        margin-right: $spacing-xs;
        width: $spacing-ms;
    }

    @media($bp-tablet) {
        padding: 0 $spacing-ml $spacing-l $spacing-ml;
    }

}

.m-back:hover {
    color: $color-tertiary;

    svg {
        fill: $color-tertiary;
    }
}