// --------------------------------------------------------------------------------
// COMPONENTS - FIGURE
// --------------------------------------------------------------------------------
.m-figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-top: $spacing-l;
    margin-bottom: $spacing-l;

    img {
        display: block;
        margin-bottom: $spacing-s;
        max-width: $client-width-max;
        width: 100%;
    }
   
    figcaption {
        font-weight: $font-weight-semibold;
        text-align: center;
    }
}