// --------------------------------------------------------------------------------
// COMPONENTS - BUTTON
// --------------------------------------------------------------------------------
.m-button-con {
    display: flex;
}

.m-button {
    @include transition (all $transition-timer-200ms $transition-easeInOutQuad);

    border: 0;
    border-radius: $border-radius;
    cursor: pointer;
    display: flex;
    font-weight: $font-weight-semibold;
    margin: 0;
    outline: none;
    padding: $spacing-xs $spacing-s;
    text-align: center;
    text-decoration: none;

    .icon {
        display: block;
        height: 22px;
        margin-right: $spacing-xs;
        width: 22px;
    }

    .text {
        display: block;
        line-height: $spacing-m;
    }

    @media($bp-smart-header) {
        .icon {
            margin-right: 0;
        }

        .text {
            display: none;
        }
    }
}

.m-button-primary {
    @include theme() {
        color: theme-get('button-primary-link-color') !important;
        background: theme-get('button-primary-background');
    } 
}
.m-button-primary:hover {
    @include theme() {
        color: theme-get('button-primary-link-color-hover') !important;
        background: theme-get('button-primary-background-hover');
    } 
}

.m-button-secondary {
    @include theme() {
        color: theme-get('button-secondary-link-color') !important;
        background: theme-get('button-secondary-background');
    }
}
.m-button-secondary:hover {
    @include theme() {
        color: theme-get('button-secondary-link-color-hover') !important;
        background: theme-get('button-secondary-background-hover');
    } 
}
.m-button-secondary:hover svg  {
    @include theme() {
        fill: theme-get('button-secondary-link-color-hover') !important;
    } 
}

.m-button-footer {
    @include theme() {
        color: theme-get('button-footer-link-color') !important;
        background: theme-get('button-footer-background');
    }
}
.m-button-footer:hover {
    @include theme() {
        color: theme-get('button-footer-link-color-hover') !important;
        background: theme-get('button-footer-background-hover');
    } 
}
.m-button-footer svg  {
    @include theme() {
        fill: theme-get('button-footer-link-color-hover') !important;
    } 
}
.m-button-footer:hover svg  {
    @include theme() {
        fill: theme-get('button-footer-link-color-hover') !important;
    } 
}