// --------------------------------------------------------------------------------
// COMPONENTS - BUTTON
// --------------------------------------------------------------------------------
.m-button {
    @include transition (all $transition-timer-200ms $transition-easeInOutQuad);

    cursor: pointer;
    display: flex;
    font-weight: $font-weight-semibold;
    line-height: $font-size-xl;
    text-decoration: none;

    svg {
        display: block;
        height: $font-size-m;
        width: $font-size-m;
    }
}

.m-button:hover {
    color: $color-tertiary;
    text-decoration: underline;
}