// --------------------------------------------------------------------------------
// TEMPLATE - FOOTER
//---------------------------------------------------------------------------------
.t-layout footer {
    padding: $spacing-40 $spacing-80;

    .links {
        display: flex;
        font-size: $font-size-xs;
        gap: $spacing-48;
        justify-content: center;
        margin-bottom: $spacing-20;

        @media($bp-smart-tablet) {
            align-items: center;
            flex-direction: column;
            gap: $spacing-20;
            margin-bottom: $spacing-40;
        }
    }

    .copyright {
        font-size: $font-size-xxs;
        text-align: center;
    }
}
