// --------------------------------------------------------------------------------
// TEMPLATE - FOOTER
//---------------------------------------------------------------------------------
.t-layout main header {
    background: $color-white-transprent;
    padding: $spacing-40 $spacing-80;
    position: sticky;
    top: 0;
    z-index: $zi-popover;

    .logo {
        display: block;
        font-family: $font-family-header;
        font-size: $font-size-ml;
        font-weight: $font-weight-semibold;
        line-height: 1.2;
        text-decoration: none;
    }
    .title {
        display: block;
        font-family: $font-family-header;
        font-size: $font-size-s;
        line-height: 1.2;
        text-decoration: none;
    }
    .links {
        display: flex;
        font-size: $font-size-xs;
        gap: $spacing-48;
        margin-top: $spacing-12
    }

    @media($bp-tablet) {
        padding: $spacing-20 $spacing-28;

        .links {
            font-size: $font-size-xxs;
            gap: $spacing-12;
            justify-content: left;
        }
    }
}