// --------------------------------------------------------------------------------
// LAYOUT - FOOTER
//---------------------------------------------------------------------------------
.t-layout header {
    align-items: center;
    background: $color-primary;
	display: grid;
	grid-gap: $spacing-l;
	grid-template-columns: auto 1fr;
    padding: $spacing-l $spacing-xxl;

    .logo {
        color: $color-white;
        font-size: $font-size-l;
        text-decoration: none;
    }

    .linksSmall, .linksLarge {
        display: flex;
        gap: $spacing-xl;
        justify-content: right;
    }
    .linksSmall {
        display: none;
    }

    @media($bp-tablet) {
        padding: $spacing-l $spacing-l;
        grid-gap: $spacing-m;

        .logo {
            font-size: $font-size-m;
        }

        .linksLarge {
            display: none;
        }
        .linksSmall {
            display: flex;
            gap: $spacing-l;
        }  
    }

    @media($bp-tablet-landscape) {
        padding: $spacing-l $spacing-xl;
    }

    @media($bp-tablet) {
        padding: $spacing-l $spacing-l;
    }

    @media($bp-smart-tablet) {
        padding: $spacing-l $spacing-m;

        .linksSmall {
            gap: $spacing-mml !important;
        }        
    }
}
