// --------------------------------------------------------------------------------
// THEMES
// Abstract the colors defined in variables.scss
// --------------------------------------------------------------------------------

// PRIMARY / SECONDARY / TERTIARY
$color-primary:                 $color-blue;
$color-secondary:               $color-blue-lighter;
$color-tertiary:                $color-oragne;

// TEXT COLOR
$color-text:                    $color-gray;

// BACKGROUND COLOR
$color-background-priarmy:      $color-white-darker;
$color-background-secondary:    $color-blue-lighter;

// SCROLL
$scroll-background:             $color-transparent;
$scroll-thumb:                  $color-gray;