// --------------------------------------------------------------------------------
// THEMES
// Abstract the colors defined in variables.scss
// --------------------------------------------------------------------------------

// PRIMARY / SECONDARY / TERTIARY
$color-primary:                 $color-pink;
$color-secondary:               $color-pink-light;
$color-tertiary:                $color-oragne;

// TEXT COLOR
$color-text:                    $color-black;

// BACKGROUND COLOR
$color-background-priarmy:      $color-white-darker;
$color-background-secondary:    $color-pink-light;

// SCROLL
$scroll-background:             $color-transparent;
$scroll-thumb:                  $color-gray;