// --------------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------------

// CLIENT
// --------------------------------------------------------------------------------
$client-height:                             720px;
$client-width:                              400px;
$client-width-max:                          1024px;


// PALETTE
// --------------------------------------------------------------------------------
//$darken:                                  darken($color, 10);
//$lighten:                                 lighten($color, 10);

// TRANSPARENT
$color-transparent:                         transparent;

// WHITE
$color-white: 								#FFFFFF;
$color-white-darker:                        #FFFFFE;
$color-white-transprent:                    rgba(255, 255, 255, .95);

// BLACK
$color-black: 								#1f1f1f;

// GREY
$color-gray:                                #2b2c34;
$color-gray-light:                          #F0F0F0;

// INDIGO
$color-indigo-dark:                         #364FC7;
$color-indigo-light:                        #EDF2FF;

// BLUE
$color-blue:                                #6246ea;
$color-blue-lighter:                        #d1d1e9;
$color-blue-lightest:                       #f3f3ff;

// ORAGNE
$color-oragne:                              #e45874;

// PINK
$color-pink:                                #AF0093;
$color-pink-light:                          #EFCCE9;

// FONTS
// --------------------------------------------------------------------------------
$font-family:                                Lato, sans-serif;
$font-family-header:                         Lato, sans-serif;
$font-family-content:                        Nunito, sans-serif;

$font-weight-thin:                           100;
$font-weight-light:                          300;
$font-weight-regular:                        400;
$font-weight-semibold:                       700;
$font-weight-extrabold:                      900;

$font-size-xxs:                              14px;
$font-size-xs:                               16px;
$font-size-s:                                18px;
$font-size-m:                                20px;
$font-size-l:                                28px;
$font-size-ml:                               36px;
$font-size-xl:                               44px;


// SPACING
// --------------------------------------------------------------------------------
$spacing-4:                                  4px;
$spacing-8:                                  8px;
$spacing-12:                                 12px;
$spacing-16:                                 16px;
$spacing-20:                                 20px;
$spacing-24:                                 24px;
$spacing-28:                                 28px;
$spacing-40:                                 40px;
$spacing-48:                                 48px;
$spacing-80:                                 80px;


// Z-INDEX
// --------------------------------------------------------------------------------
$zi-hide:                                    -9999px;
$zi-plus-one:								 1;
$zi-modal: 									 9;
$zi-popover:                           		 99;


// BORDER
// --------------------------------------------------------------------------------
$border-color:                               $color-transparent;
$border-radius:								 3px;


// BOX SHADOW
// --------------------------------------------------------------------------------
$box-shadow:								rgb(0, 0, 0) 0px 2px 10px -5px;
$box-shadow-hover:							rgb(0, 0, 0) 0px 5px 15px -10px;


// TRANSFORM
// --------------------------------------------------------------------------------
$transform-card-hover: 					    matrix(1, 0 ,0 ,1, 0,-4);


// TRANSITIONS
// --------------------------------------------------------------------------------
$transition-timer-100ms: 					.1s;
$transition-timer-200ms: 					.2s;
$transition-easeInOutQuad:  				cubic-bezier(0.455, 0.030, 0.515, 0.955);


// BREAKPOINTS
// --------------------------------------------------------------------------------
$bp-smart:     								'max-width: 320px';
$bp-smart-tablet:     						'max-width: 600px';
$bp-tablet:          						'max-width: 768px';
$bp-tablet-landscape:						'max-width: 1024px';
$bp-desktop:                        		'max-width: 1280px';