// --------------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------------

// CLIENT
// --------------------------------------------------------------------------------
$client-height:                              720px;
$client-width:                               360px;
$client-width-max:                           1024px;


// PALETTE
// --------------------------------------------------------------------------------
//$darken:                                   darken($color, 10);
//$lighten:                                  lighten($color, 10);


// TRANSPARENT
$color-transparent:                          transparent;

// WHITE
$color-white: 								 #FFFFFF;

// BLACK
$color-black: 								 #000000;

// GREY
$color-gray:                                 #0B0E11;

// INDIGO
$color-indigo-dark:                          #364FC7;
$color-indigo-light:                         #EDF2FF;

// PRIMARY / SECONDARY
$color-primary:                              $color-indigo-dark;
$color-secondary:                            $color-indigo-light;











// FONTS
// --------------------------------------------------------------------------------
$font-family:                                Nunito, sans-serif;

$font-weight-light:                          300;
$font-weight-regular:                        400;
$font-weight-semibold:                       600;
$font-weight-extrabold:                      800;

$font-size-xs:                               12px;
$font-size-s:                                16px;
$font-size-m:                                20px;
$font-size-l:                                24px;
$font-size-xl:                               32px;


// SPACING
// --------------------------------------------------------------------------------
$spacing-xs:                                 8px;
$spacing-s:                                  12px;
$spacing-ms:                                 16px;
$spacing-m:                                  20px;
$spacing-mml:                                24px;
$spacing-ml:                                 28px;
$spacing-l:                                  40px;
$spacing-xl:                                 48px;
$spacing-xxl:                                80px;


// Z-INDEX
// --------------------------------------------------------------------------------
$zi-hide:                                    -9999px;
$zi-plus-one:								 1;
$zi-modal: 									 9;
$zi-popover:                           		 99;


// BORDER
// --------------------------------------------------------------------------------
$border-color:                               $color-transparent;
$border-radius:								 4px;


// BOX SHADOW
// --------------------------------------------------------------------------------
$box-shadow:								0px 5px 14px rgba(0, 0, 0, 0.2);
$box-shadow-hover:							0px 6px 16px rgba(0, 0, 0, 0.3);


// TRANSITIONS
// --------------------------------------------------------------------------------
$transition-timer-100ms: 					.1s;
$transition-timer-200ms: 					.2s;
$transition-easeInOutQuad:  				cubic-bezier(0.455, 0.030, 0.515, 0.955);


// BREAKPOINTS
// --------------------------------------------------------------------------------
$bp-smart:     								'max-width: 320px';
$bp-smart-tablet:     						'max-width: 560px';
$bp-tablet:          						'max-width: 768px';
$bp-tablet-landscape:						'max-width: 1024px';
$bp-desktop:                        		'max-width: 1280px';