// --------------------------------------------------------------------------------
// COMPONENTS - CARD
// --------------------------------------------------------------------------------
.m-card {
    @include transition (all $transition-timer-200ms $transition-easeInOutQuad);

    background: $color-white;
    border-radius: 0;
    box-shadow: $box-shadow;
    color: $color-black;
    padding: $spacing-l;
    text-decoration: none;

    img {
        display: block;
        height: auto;
        margin-bottom: $spacing-s;
        width: 100%;
    }

    h3, h4 {
        text-align: center;
    }
}

.m-card:hover {
    background: $color-indigo-light;
    box-shadow: $box-shadow-hover;
    transform: translate(2px, 2px);
}

// CARD GRID
.m-card-grid {
    .m-card-grid-row:last-child{
        margin-bottom: 0;
    }
}
  
.m-card-grid-row {
    margin-bottom: $spacing-l;
}
  
.m-card-grid-2 {
    display: grid;
    grid-column-gap: $spacing-l;
    grid-row-gap: $spacing-l;
    grid-template-columns: 1fr 1fr;
}
.m-card-grid-3 {
    display: grid;
    grid-column-gap: $spacing-l;
    grid-template-columns: 1fr 1fr 1fr;
}
@media($bp-tablet) {
    .m-card-grid-3 {
        grid-template-columns: 1fr;
    } 
}
@media($bp-smart-tablet) {
    .m-card-grid-2 {
        grid-template-columns: 1fr;
    }
    .m-card-grid-3 {
        grid-template-columns: 1fr;
    } 
}