// --------------------------------------------------------------------------------
// MIXINS - SCROLLBAR
// --------------------------------------------------------------------------------
@mixin scrollbar($size) {
    // For Chrome & Safari
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }
    &::-webkit-scrollbar-thumb {
        background: $scroll-thumb;
    }
    &::-webkit-scrollbar-track {
        background: $scroll-background;
    }

    // Standard version (Firefox only for now)
    scrollbar-color: $scroll-thumb $scroll-background;
}