// --------------------------------------------------------------------------------
// MIXINS - SCROLLBAR
// --------------------------------------------------------------------------------
@mixin scrollbar($size, $border-radius-sb) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
        border-radius: $border-radius-sb;
        scrollbar-face-color: $scroll-thumb;
    }
  
    &::-webkit-scrollbar-track {
        scrollbar-track-color: $scroll-background;
    }
  
    // For Internet Explorer
    & {
        scrollbar-face-color: $scroll-thumb;
        scrollbar-track-color: $scroll-background;
    }
}