// --------------------------------------------------------------------------------
// TEMPLATE - SECTION
//---------------------------------------------------------------------------------
.section {
    padding-bottom: $spacing-80;
    padding-top: $spacing-80;

    // First section has padding top chopped a bit
    &:first-of-type {
        padding-top: $spacing-48;
    }

    // All other sections have their padding chopped
    &:not(:first-of-type) {
        padding-top: 0;
    }
}

.section-secondary {
    background: $color-background-secondary;
    color: $color-black; // better contrast than $color-text
    padding-top: $spacing-80 !important;
    margin-bottom: $spacing-80;
}

.section-last {
    margin-bottom: 0;
}

.container {
    margin: 0 auto;
    max-width: $client-width-max;

    padding-left: $spacing-80;
    padding-right: $spacing-80;
}
@media($bp-tablet) {
    .container {
        padding-left: $spacing-28;
        padding-right: $spacing-28;
    }
}